export NEWFECTHER_GENERIC_URL="https://xkcd.com"
export NEWFECTHER_GENERIC_XPATH="//div[@id='comic']/img/@src"
export NEWFECTHER_GENERIC_MODE="center"
export NEWFECTHER_GENERIC_SCALE=1.75
export RKNEWS_OUTPUT="xkcd.png"
export RKNEWS_UPDATE_FREQUENCY="1h"