export NEWFECTHER_GENERIC_LIVENESS_CHECK=5m
export NEWFECTHER_GENERIC_PROBE_TIMEOUT=60m
export NEWFECTHER_GENERIC_HTTP_TIMEOUT=10s
export NEWFECTHER_GENERIC_TRANSPORT_TIMEOUT=5s
export NEWFECTHER_GENERIC_URL="http://host/port/page"
export NEWFECTHER_GENERIC_XPATH="//src[@id='myimage']/@src"
export NEWFECTHER_GENERIC_MODE="center"
export NEWFECTHER_GENERIC_SCALE=1